body {
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  background-image: url('https://imgur.com/JPyegZT.png'); 
  background-size: contain; 
  background-position: top right; 
  background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #232b2b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 30px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: .3s;
}

.navbar {
  display: flex;
}

.navbar a {
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  margin-right: 200px;
  transition: .3s;
}

.navbar a:hover {
  color: #00FFEF;
}

.logo:hover {
  color: #00FFEF;
}


.home {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
}

.home-content {
  background: #232b2b;
  max-width: 700px;
  padding: 20px;
  margin-right: 2cm;
  font-style: italic;
}

.btn-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.btn-box a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #00FFEF;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.btn-box a:hover {
  background-color: #000000;
  color: #00FFEF;
}

.home-one {
  position: absolute;
  bottom: 20px;
  width: 180px;
}

.home-one a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00abfe;
  border-radius: 50%;
  font-size: 20px;
  color: #00abf0;
  text-decoration: none;
}


.contact {
  padding: 100px 5%;
}

.contact-content {
  max-width: 700px;
  margin: 0 auto;
}

.contact h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact p {
  font-size: 18px;
  margin-bottom: 20px;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact a {
  color: #00FFEF;
  text-decoration: none;
  font-weight: bold;
}

.contact a:hover {
  text-decoration: underline;
}

.projects {
  padding: 100px 5%;
}

.project {
  margin-bottom: 30px;
}

.project h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.project p {
  font-size: 16px;
  line-height: 1.6;
}

.resume {
  background-image: url('https://imgur.com/w1fyq87.png');
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
}